@inherits LayoutComponentBase
@using CommonLibPages.Components

@namespace BlazorServerApp.P.Shared

<div class="page">
	
	<LoginButton></LoginButton><SelectLang></SelectLang>
	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
